<html>
  <head>
    <title>Login</title>
    <link rel="stylesheet" href="./login.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-light" style="background-color: white;">
        <a class="navbar-brand" href="http://localhost:2000/">
          <img src="./assets/images/mayan.png" width="30" height="30" class="d-inline-block align-top" alt="">
          LOGIN
          <a class="navbar-brand" href="http://localhost:2000/login">
            <img src="/assets/images/refresh.png" width="30" height="30" class="d-inline-block align-top" alt="">
        </a>
      </nav>
    <h1>
    <form action="/login" method="post">
    
      Username:<br />
      <input
        type="text"
        name="username"
        placeholder="Username"
        required
      /><br /><br />
      Password:<br />
      <input
        type="password"
        name="password"
        placeholder="Password"
        required
      /><br /><br />
    
      <input type="submit" value="login" />
    </form></h1>
    
  </body>
</html>